<div class="d-flex flex-column ui">
  <header>
    <ng-content select=".tr-header"></ng-content>
    <span (click)="toggle()">

      <!--  Synthaxe ngif basique  -->
      <!--  <ng-content *ngIf="close==true" select=".tr-open"></ng-content>
            <ng-content *ngIf="!close" select=".tr-close"></ng-content> -->

      <!--  ngIf avec Templates (en bas du fichier ) -->
      <!--  <ng-content *ngIf="!close; else elseBlock" select=".tr-close"></ng-content> -->

      <!--  If Templates -->

      <!--  <ng-template #elseBlock>
              <ng-content select=".tr-open"></ng-content>
            </ng-template> -->
      <ng-container *ngIf="close; then thenBlock else elseBlock"></ng-container>

      <ng-template #thenBlock>
        <ng-content select=".tr-open"></ng-content>
      </ng-template>

      <ng-template #elseBlock>
        <ng-content select=".tr-close"></ng-content>
      </ng-template>

    </span>
  </header>
  <main class="d-flex flex-grow-1">
    <aside>
      <nav [ngClass]="{'close-aside': close}">
        <ng-content select=".tr-nav"></ng-content>
      </nav>
    </aside>
    <div class="d-flex flex-column flex-grow-1">
      <div class="flex-grow-1 content">
        <ng-content select=".tr-content"></ng-content>
      </div>
      <footer>
        <ng-content select=".tr-footer"></ng-content>
      </footer>
    </div>
  </main>
</div>



